<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{663,673}}</string>
                <key>offset</key>
                <string>{9,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{663,673}}</string>
                <key>sourceSize</key>
                <string>{681,829}</string>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,677},{631,653}}</string>
                <key>offset</key>
                <string>{-25,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,653}}</string>
                <key>sourceSize</key>
                <string>{681,829}</string>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{661,651}}</string>
                <key>offset</key>
                <string>{10,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{661,651}}</string>
                <key>sourceSize</key>
                <string>{681,829}</string>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{629,649}}</string>
                <key>offset</key>
                <string>{26,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{629,649}}</string>
                <key>sourceSize</key>
                <string>{681,829}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{1298,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a357f6811f519a2cdaebf44b79f69d05$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
